In [6]:
import pandas_datareader.data as web
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import os

API_KEY = os.environ.get("ALPHA_VANTAGE_API_KEY")

In [7]:
aapl = web.DataReader('AAPL', 'av-monthly', datetime(2012, 1, 1), datetime(2017, 1, 1), api_key=API_KEY)

In [8]:
aapl.head()

              open    high      low   close     volume
2012-01-31  409.40  458.24  409.000  456.48  244994800
2012-02-29  458.41  547.61  453.980  542.44  406019800
2012-03-30  548.17  621.45  516.221  599.55  556583500
2012-04-30  601.83  644.00  555.000  583.98  557106800
2012-05-31  584.90  596.76  522.180  577.73  396655200

In [12]:
from alpha_vantage import fundamentaldata

# call income_statement from the FundementalData class
def get_income_statement(symbol, api_key):
    fd = fundamentaldata.FundamentalData(key=api_key, output_format='pandas')
    data, meta_data = fd.get_income_statement_annual(symbol)
    return data

# get income statement for date range
def get_income_statement_range(symbol, api_key, start_date, end_date):
    data = get_income_statement(symbol, api_key)
    data = data.loc[start_date:end_date]
    return data


aapl_income = get_income_statement_range('AAPL', API_KEY, '2012-01-01', '2017-01-01')
aapl_income.tail()

Empty DataFrame
Columns: [fiscalDateEnding, reportedCurrency, grossProfit, totalRevenue, costOfRevenue, costofGoodsAndServicesSold, operatingIncome, sellingGeneralAndAdministrative, researchAndDevelopment, operatingExpenses, investmentIncomeNet, netInterestIncome, interestIncome, interestExpense, nonInterestIncome, otherNonOperatingIncome, depreciation, depreciationAndAmortization, incomeBeforeTax, incomeTaxExpense, interestAndDebtExpense, netIncomeFromContinuingOperations, comprehensiveIncomeNetOfTax, ebit, ebitda, netIncome]
Index: []

[0 rows x 26 columns]

In [15]:
from alpha_vantage.fundamentaldata import FundamentalData

fd = FundamentalData(key=API_KEY, output_format='pandas')

for method in dir(fd):
    if not method.startswith('_'):
        print(method)

get_balance_sheet_annual
get_balance_sheet_quarterly
get_cash_flow_annual
get_cash_flow_quarterly
get_company_overview
get_income_statement_annual
get_income_statement_quarterly
headers
indexing_type
key
map_to_matype
output_format
proxy
rapidapi
set_proxy
treat_info_as_error

In [20]:
aapl_quarterly = fd.get_income_statement_quarterly('AAPL')
# print(aapl_quarterly)

In [21]:
# get company overview
def get_company_overview(symbol, api_key):
    fd = fundamentaldata.FundamentalData(key=api_key, output_format='pandas')
    data, meta_data = fd.get_company_overview(symbol)
    return data

aapl_overview = get_company_overview('AAPL', API_KEY)
aapl_overview

,Symbol,AssetType,Name,Description,CIK,Exchange,Currency,Country,Sector,Industry,...,EVToRevenue,EVToEBITDA,Beta,52WeekHigh,52WeekLow,50DayMovingAverage,200DayMovingAverage,SharesOutstanding,DividendDate,ExDividendDate
None,AAPL,Common Stock,Apple Inc,Apple Inc. is an American multinational techno...,320193,NASDAQ,USD,USA,TECHNOLOGY,ELECTRONIC COMPUTERS,...,5.92,17.53,1.297,175.59,123.98,152.94,148.99,15821900000,2023-02-16,2023-02-10