In [1]:
import yahoo_fin.stock_info as si
import pandas as pd

In [2]:
aapl = si.get_data('aapl')

In [3]:
aapl[10:20]

                open      high       low     close  adjclose    volume ticker
1980-12-29  0.160714  0.161272  0.160714  0.160714  0.124869  93161600   AAPL
1980-12-30  0.157366  0.157366  0.156808  0.156808  0.121834  68880000   AAPL
1980-12-31  0.152902  0.152902  0.152344  0.152344  0.118366  35750400   AAPL
1981-01-02  0.154018  0.155134  0.154018  0.154018  0.119666  21660800   AAPL
1981-01-05  0.151228  0.151228  0.150670  0.150670  0.117065  35728000   AAPL
1981-01-06  0.144531  0.144531  0.143973  0.143973  0.111862  45158400   AAPL
1981-01-07  0.138393  0.138393  0.137835  0.137835  0.107093  55686400   AAPL
1981-01-08  0.135603  0.135603  0.135045  0.135045  0.104925  39827200   AAPL
1981-01-09  0.142299  0.142857  0.142299  0.142299  0.110561  21504000   AAPL
1981-01-12  0.142299  0.142299  0.141183  0.141183  0.109694  23699200   AAPL

In [6]:
aapl_earnings = si.get_earnings('aapl')

In [7]:
aapl_earnings

{'quarterly_results': Empty DataFrame
 Columns: []
 Index: [],
 'yearly_revenue_earnings': Empty DataFrame
 Columns: []
 Index: [],
 'quarterly_revenue_earnings': Empty DataFrame
 Columns: []
 Index: []}